<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Cadastro de Usuario</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/css/usuario.css"/>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		<img alt="" src=""/>
	</a>
</nav>
<div class="container">
	<div th:each="u : ${usuarioEmEdicao}">
		<div class="row">
		 <p>ID: <span th:text="${u.id}" ></span></p>
		 <p>Nome:<span th:text="${u.nome}" ></span></p>
		 <p>Sobrenome: <span th:text="${u.sobrenome}"></span> </p>
		</div>
	</div>
	
    <form class="form-horizontal" th:action="@{/addfoneusuario/{pessoaid}(pessoaid=${usuarioEmEdicao.id})}" method="post">
     <div class="card">
      <div class="card-header">
		    Cadastre seu Telefone
		  </div>
		  	<div class="form-group row">
		    <label for="numero" class="col-sm-2 col-form-label">Número</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="numero" name="numero">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <label for="tipo" class="col-sm-2 col-form-label">Tipo</label>
		    <div class="col-sm-5">
		      <input type="text" class="form-control" id="tipo" name="tipo">
		    </div>
		  </div>
		  
		  <div class="form-group row">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-primary">Adicionar</button>
		    </div>
		  </div> 
	 </div>	  
    </form>	
</div>





<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>